/* 
Style Guide 
Common Colors:
  *Primary- cornflowerblue
  *Secondary- black
*/

/*
Typography
Title Font- font-family: 'Permanent Marker', cursive;
Subtitle Font- font-family: 'Permanent Marker', cursive; font-size: 1em;
Body Font- font-family: 'Cedarville Cursive', cursive;
*/
h4 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 2em;
  margin-bottom:0;
}
p {
  color:black;
  font-size:1em;
  font-family: 'Cedarville Cursive', cursive;
  
}
h1 {
  color:cornflowerblue;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 4em;
  letter-spacing: 5px;
  text-align: center;
}
img {
  width:100px;
  border-radius:50%;
  float:left;
  shape-outside:circle(50%);
  margin:1.5em;
}


